@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
    .card.step.step-1:after, .card.step.step-2:after {
        position: fixed;
        top: 0;
        top: -11px;
        content: "";
        left: 162px;
        width: 252px;
        height: 148px;
        background: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card.step.step-2:after 
        .card.step.step-1:after, .card.step.step-2:after {
            position: fixed;
            top: 0;
            top: -11px;
            content: "";
            left: 162px;
            width: 252px;
            height: 148px;
            background: none;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
       
    
    .main-content {

        padding-right: 0px !important;
        padding-left: 0px !important;
     
    }
    .log-img{
        display: none;
    }
    .log-card{
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
    .section-title {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 50px;
        padding: 0px 10px 0px 10px;
    }
    .features1 {
        padding: 30px 20px;
        border-bottom: 2px solid green;
        background-color: white;
        margin-bottom: 30px;
    }
    .features2 {
        padding: 30px 20px;
        border-bottom: 2px solid red;
        margin-bottom: 30px;
    }
    .doctor-grid-card{
        margin-bottom: 30px;
    }
    .sidebar {
        min-height: 300px;
        display: none;
    }   
    .main-hero h1 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 600;
    }
    .main-heading{
        padding: 0px 10px 0px 10px;
    }
    .footer-app{
        margin-top: 20px;
        text-align: left !important;
    }
    .main-feature{
        margin-bottom: 30px;
    }
    .navbar-toggler:after{
        content: '\2807';
        font-size: 30px;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        /* border-color: rgba(0, 0, 0, 0.1); */
        border: none !important;
    }

    .mobile-sidebar {
        display:block !important;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        overflow-y: auto;
        padding-top: 0; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }

    .mobile-sidebar-content {
        min-height: 100vh;
        height: 100vh;
        width: 100%;
        border:none;
        border-radius: 0;
    }
    
    .mobile-sidebar-content .profile {
        border-bottom: 1px solid #f0f0f0;
    }
    
    .mobile-sidebar-content .nav-item .nav-link {
        font-size: 17px;
        color: #757575;
        display: block;
        padding: 16px 20px;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 0;
    }
    
    .mobile-sidebar-content .nav-item .nav-link:hover, .mobile-sidebar-content .nav-item .nav-link.active {
        background-color: #fafafa;
    }
    .btn-primary {
        color: #fff;
        background-color:#3f4079;
        border-color: #3f4079;
    }
    .side-button{
        display: inline-block !important;
      }
      .order-tab{
          font-size: 12px !important;
      }
}